/* REUSEABLE */
.bg-dark{
    background-color: #121212;
}

.font-16{
    font-size: 16px;
}

.center-v{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
}
.center-h{
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);
}
/* FIRST SETUP */

html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.columns{
    padding: 0 !important;
}
.columns{
    margin: 0 !important;
}
.column{
    padding: 0 !important;
}
.column{
    margin: 0 !important;
}

/* -------------------------------- */

/* TOP CAROUSEL */
.owl-carousel{
    position: relative;
  }
  
.owl-dots{
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0%;
    
}

#top-carousel .owl-dots .owl-dot span{
    width: 50px !important;
    height: 2px !important;
    background-color: #5a5a5a !important;
    
}
#top-carousel .owl-dots .owl-dot.active span{
    width: 50px !important;
    height: 4px !important;
    background-color: #df0000 !important;
}
#top-carousel .owl-dots .owl-dot span:hover{
    width: 50px !important;
    height: 4px !important;
    background-color: #df0000 !important;
}

/* --------------------------------------------- */

/* TOP PRODUCT */

.row{
    /* margin-top: 2.5px !important;
    margin-bottom: 2.5px !important; */
    padding: 2.5px !important;
}
.col{
    padding: 2.5px !important;
}

.top-product{
    position: relative;
}

.top-product-title{
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
@media only screen and (max-width: 1023px) {
    .top-product-title{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(0, -50%);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    .top-product-title{
        width: 100%;
        z-index: 10;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }
  }
/* -------------------------------------------- */

/* CREATIVE SECTION */
.creattive-section{
    height: 500px;
    background-image: linear-gradient(45deg, rgba(2,33,64,0.2) 55%, rgba(45,95,93,0.3)), url(../img/create-banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    transition: all 3s;
}


.creative{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.creattive-section .columns, .creattive-section h1{
    margin: 0 auto !important;
    text-align: center;
}

.creattive-section h1{
    color: gray;
    background-color: white;
}

.btn{
    text-align: center;
}

.support-section .register-img{
    background-image: linear-gradient(45deg, rgba(2,33,64,0.2) 55%, rgba(45,95,93,0.3)), url(../img/register.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.support-section .support-img{
    background-image: linear-gradient(45deg, rgba(2,33,64,0.2) 55%, rgba(45,95,93,0.3)), url(../img/support.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.support-item{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 400;
}
.support-item h4{
    font-size: 20px;
}
.support-item p{
    font-size: 15px !important;
}

.center-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image:hover{
    filter: brightness(1.2);
    transition: all .5s;
}


/* FOOTER */
.footer{
    padding-bottom: 1.5rem !important;
}
.foot-title{
    color: white;
    font-weight: 400;
}
.foot-contents li a{
    color: rgb(148, 148, 148);
    font-size: 16px;
    font-weight: 300;
}

hr{
    border-width: 1px;
}

.foot-logo{
    width: 50px;
    display: inline-block;
}

.copyright-section{
    border-top: 1px solid white;
    margin-left: -15px;
    margin-right: -15px;
}
.copyright-section .columns{
    margin-top: 10px !important;
}

.copyright-section p{
    display: inline-block;
    font-size: 16px;
}


/* -----------------------------------model img -----------------------------------*/
.model-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.model-img:hover {opacity: 0.7;}
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0%; /* Location of the box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 570px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
}
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
}
  
  /* Caption of Modal Image */

  
  /* Add Animation */
.modal-content{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    z-index: 2;
    position: absolute;
    top: -20px;
    right:0px;
    color: #fd010c;
    font-size: 40px;
    font-weight: bold;
    transition: 0.6s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/* ---------About us---------- */
.left-menu h1{
    color: white;
    margin-top: 2rem !important;
    text-align: left;
    padding-left: 1rem;
}

.left-menu ul li{
    text-align: left;
    padding-left: 1rem;
}

.left-menu ul li a{
    color: white;
}
.left-menu ul li a:hover, .left-menu ul li a:active{
    color: white;
    margin-left: 10px;
}
article{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

article h1{
    color: #fd010c !important;
}

article p{
    text-align: justify;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #797979;
    font-weight: 500;
    line-height: 1rem ;
}

article h4{
    padding-left: 1rem;
    margin-bottom: 0.3rem !important;
    color: white !important;
}

.sticky {
    position: fixed;
    top: 1%;
    width: 100%;
}

  /* Contact */
.contact-us{
      margin-top: 2rem;
      font-size: 16px;
      padding-left: 1rem;
      padding-right: 1rem;
}
.contact-us h1{
      color: #fd010c;
      font-weight: bold;
      font-size: 20px;
}
.contact-us p{
      line-height: 1.5rem;
}
.is-boxed{
      margin-top: 2rem;
}
.is-boxed a:hover, .is-boxed a:active{
      background-color: #fd010c !important;
      color: white;
      border-bottom: 1px solid #fd010c !important;
  }
.tabs ul{
    border-bottom: 1px solid red;
}
.tabs li.is-active a{
    background-color: #fd010c !important;
    border: none !important;
    border-bottom: 1px solid #fd010c !important;
    color: white !important;
}
.contact-us .content{
    height: 60vh;
    color: #797979;
}
.country h4, .country h6{
    color: white;
}
